body{
    background-color: black;
    overflow-x: hidden;
    min-height: 100vh;
    overflow-y: visible;
    margin:0;
}

@font-face {
    font-family: 'Times Sans';
    src: url(font/timess__-webfont.woff) format('woff2'),
         url(font/timess__-webfont.woff2) format('woff');
    font-weight: normal;
    font-style: normal;}

.textleft{
    text-justify: left;
    color: #FFF;
text-align: left;
font-family: "Times Sans";
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 750px;
padding-left: 200px;
margin: 0;
}

.textright {
    text-align: right;
    color: #FFF;
    font-family: "Times Sans";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 750px;
    margin-left: auto; 
    margin-right: 0;
    padding-right: 200px; 
}

h2{
    color: #FFF;
text-align: right;
font-family: "Homemade Apple", serif;
  font-weight: 400;
  font-style: normal;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
padding-left: 120px;
margin-bottom: 0%;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
   
}

h3{
    color: #FFF;
text-align: right;
font-family: "Homemade Apple";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;

padding-right: 120px;
margin-bottom: 0%;
}



.nav{
    color: #857D7D;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
font-size: 45px;
font-weight: 400;
line-height: normal;
padding-left: 50px;
padding-top: 25px;
display: flex;
/* justify-content: center; */
align-items: center;
position: relative;
gap: 109px;
z-index: 1000;
}

.nav a {
    color: #857D7D;
    text-decoration: none;
    transition: color 0.3s ease;
}


.nav a:hover {
    color: #A6A1A1; 
}


.nav a:active, 
.nav a[aria-current="page"] {
    color: #C9B9B9;
}



.itemright{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% - 70px) 0px; 
    height: 700px;
    background-size: 550px;
}

.itemleft{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px -20px;
    height: 700px;
    background-size: 550px;
}

.death{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70px 40px;
    height: 700px;
    background-size: 550px;
}

.hamilcar{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: calc(100% - 70px) 0px; 
    height: 700px;
    background-size: 450px;
}

.hannibalstatueeeee{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px -20px;
    height: 700px;
    background-size: 400px;
}

.horsiee {
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: calc(100% + 120px) 0px;
    height: 500px;
    margin-bottom: 0%;
}

.carthage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px 10px;
    height: 700px;
    background-size: 550px;
}

.elephant{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100px 30px;
    height: 700px;
    background-size: 650px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px; 
    font-family: "Times Sans", serif;
    color: black; 
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    text-decoration: none; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-left: 60%;
}

.custom-button:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px);
}

.custom-button2 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px; 
    font-family: "Times Sans", serif;
    color: black; 
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    text-decoration: none; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-left: 30%;
}

.custom-button2:hover {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px);
}

.textright1 {
    text-align: left;
    color: #FFF;
    font-family: "Times Sans";
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 750px;
    margin-left: 0; 
    margin-right: 0;
    padding-left: 700px; 
   
}

h4{
    color: #FFF;
text-align: right;
font-family: "Homemade Apple", serif;
  font-weight: 400;
  font-style: normal;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
padding-left: 500px;
margin-bottom: 0%;
}

.itemleft1{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20px 60px;
    height: 1300px;
    background-size: 1300px;
}


.hover-container {
    position: absolute; 
    display: inline-block; 
    margin-left: 200px;
}


.hover-circle {
    width: 40px;
    height: 40px;
    background-color: #800000; 
    border-radius: 50%;
    position: relative;
    z-index: 1;
}


.hover-text {
    display: none; 
    position: absolute; 
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgba(134, 0, 0, 0.618);
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 230px; 
    font-family: "Times Sans", serif;
    word-wrap: break-word;
}

.hover-container:hover .hover-text {
    display: block;
}
